/*Homepage styling*/
.jumbotron-image {
    background-image: url('../imagess/bnbdemi.jpg');
    background-position: center;
    color: white;
    height: 600px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center; 
}

.display-4 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
}

#about-me {
    text-align: center;
    color: gray;
}
/*Contact form styling*/
.contactSection {
    background-color: transparent;
}

.contact {
    border-radius: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.contactText {
    padding-bottom: 20px;
    text-align: center;
}

.jumbotron-fluid {
    margin-bottom: 0;
}

#submit-btn {
    background-color: #708090;
    border-color: transparent;
}

#submit-btn:hover {
    background-color: #696969;
}

/*Portfolio Styling*/
.arrow-color {
    filter: invert(100%);
}

.card {
    margin: auto;
    border: none;
}

#carousel-container {
    background: white;
    border-radius: 25px;
    padding-top: 20px;
}

.carousel-img {
    height: 400px;
    width: 550px; 
    margin: auto;
}

.carousel-inner {
    margin-top: 20px;
    text-align: center;
}

.carousel-item {
    height: 35rem;
    position: relative;
}

.noBull {
    background-color: white;
    border-radius: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    list-style-type: none;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

.fa-cocktail {
    font-size: 30px;
}

.fa-code {
    font-size: 30px;
}

img:hover {
    opacity: 0.3;
    transition: .5s ease;
}

.portfolio-heading {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}

.jumbotron-portfolio {
    margin-top: 30px;
    margin-bottom: 0;
}

/*Footer styling*/
.fa {
    font-size: 20px;
    margin: 5px 2px
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
}
