/*Homepage styling*/
.jumbotron-image {
    background-image: url('../imagess/bnbdemi.jpg');
    background-position: center;
    color: white;
    height: 600px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center; 
}

.display-4 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
}

#about-me {
    text-align: center;
    color: gray;
}
/*navbar styling*/
.fab {
    font-size: 30px; 
}

/*Contact form styling*/
.contactSection {
    background-color: transparent;
}

.contact {
    background-color: white;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.jumbotron-fluid {
    margin-bottom: 0;
}

#submit-btn {
    background-color: #708090;
    border-color: transparent;
}

/*Portfolio Styling*/
.noBull {
    background-color: white;
    border-radius: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    list-style-type: none;
    padding: 20px;
    text-align: center;
}

.fa-cocktail {
    font-size: 30px;
}

.fa-code {
    font-size: 30px;
}

.portfolio-heading {
    background-color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}

.jumbotron-portfolio {
    margin-top: 30px;
    margin-bottom: 0;
}

/*Footer styling*/
.fa {
    font-size: 20px;
    margin: 5px 2px
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
}
